/build/
/gradle/
/out/

.gradle
.sandbox

gradle.properties

.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/shelf/
.idea/libraries/
.idea/.name
.idea/*.png

*.iml
